# Configuração do Servidor
PORT=3000
NODE_ENV=production

# Integração Google Drive / Google Apps Script (Opcional)
GOOGLE_DRIVE_ROOT_FOLDER_ID=12ZPicg-lxXy2nyNowmvEUCQNkQi_smaJ
GOOGLE_WEBHOOK_URL=https://script.google.com/macros/s/SEU_WEBHOOK_ID/exec
# GOOGLE_CREDENTIALS_JSON={"type":"service_account",...}
